@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h2, h3 {
    font-family: 'Assistant', sans-serif;
    color: #3c4043;
    font-weight: 600;
}

h2 + p, h3 + p {
    margin-top: 0;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    padding: 64px 0 0 0;
}

h3 {
    font-size: 18px;
    line-height: 26px;
    padding: 52px 0 0 0;
}

p {
    margin: 10px 0;
    line-height: 24px;
    padding-top: 20px;
}

a {
    color: #3367d6;
    text-decoration: none;
}

ol {
    margin: 0 0 0 16px;
    padding: 0;
}

li {
    padding-top: 12px;
    line-height: 24px;
    padding-left: 16px;
}

ol > li > ol {
    list-style: lower-alpha;
}

header {
    border-bottom: 1px solid #ddd;
}

.container {
    padding: 32px;
    max-width: 978px;
    margin: 0 auto;
}

.flex-logo-container {
    padding: 1rem;
}

.flex-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-container {
    display: inline-block;
    height: 24px;
}

.title-link {
    color: #5f6368;
    font-family: 'Assistant', sans-serif;
    font-size: 22px;
    line-height: 24px;
    position: relative;
    top: -1.5px;
}

.menu-container {
    padding-left: 20px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.43;
    margin-right: 42px;
    padding: 0;
}

.menu li a {
    padding-bottom: 6px;
    color: #5f6368;
    display: inline-block;
}

.menu li a.active {
    color: #3367d6;
    border-bottom: 3px solid #3367d6;
}